body{
    height: 100vh;
    margin: 0rem;
    /* overflow: hidden;  */
    background-color: rgb(26, 26, 26) !important;
}
@keyframes rotate {
    from{
        rotate:0deg;
    }

    50%{
        scale: 1 1.2;
    }

    to{
        rotate:360deg;
    }
}
#cursor-follow{
    height: 400px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        to right,
        aquamarine,
        mediumpurple
    );
    animation: rotate ease 20s infinite;
    z-index: -2;
    opacity: 100%;
}
#blur{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(10vw);
}
.display-1{
    font-family: 'Tilt Warp', cursive;
    font-size: 120px;
    color: white !important;
}
#home-img{
    position: absolute;
    top: 0 ;
    left: 0;
    height: 400px;
    width: 600px;
}
.custom-shape-divider-bottom-1677894750 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677894750 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1677894750 .shape-fill {
    fill: #00346D;
}

#cards{

    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    max-width: 916px;
    width: calc(100% - 20px);
}
.card {
    background-color: rgb(255, 255, 255, 0.1);
    opacity: 10%;
    border-radius: 10px;
    height: 260px;
    width:300px;
  }