* {
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0rem;

    background-color: rgb(26, 26, 26) !important;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.2;
    }

    to {
        rotate: 360deg;
    }
}

#cursor-follow {
    height: 400px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right,
            purple,
            blue);
    animation: rotate ease 7s infinite;
    z-index: -2;
    opacity: 100%;
}

#blur {
    height: 2000px;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(10vw);
}

@media(min-width:828px) {
    .split-text {
        font-size: 108px !important;
    }

    img {
        width: 500px !important;
        height: 400px !important;
    }

    #proj-btn {
        display: inline-flex !important;
        position: static !important;
    }

    .top {
        text-indent: 10%;
    }

    .bot {
        text-indent: 20%;
    }
}

@media(min-width:600px) {
    .split-text {
        font-size: 300%;
    }

    img {
        width: 60vw;
        height: 50vh;
    }

    #proj-btn {
        position: absolute;
        top: 340px;
        left: 15px;
    }
}

@media(max-width:599px) {
    .split-text {
        font-size: 300%;
    }

    img {
        width: 50vw;
        height: 30vh;
    }

    #proj-btn {
        position: absolute;
        top: 340px;
        left: 15px;
    }
}

.split-text {
    font-family: 'Tilt Warp', cursive;
    color: white !important;
}

#text-contain {
    line-height: 1.1 !important;
    padding-left: 10px;
}

#home-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 600px;
}

.top-wave-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.top-wave-hero svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.top-wave-hero .shape-fill {
    fill: #471d8f;
}

h1 {
    font-family: 'Golos Text', sans-serif;
}

.bottom-wave-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bottom-wave-about svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 188px;
}


#text-contain {
    width: 830px;

}

#st-con {
    display: flex;
}

img {
    z-index: -1;
    left: 32%;
    top: 17%;

    position: absolute;
    border-radius: 40px;
    opacity: 50%;

}
a{
    text-decoration: none !important;
}
#logo {
    color: rgb(0, 115, 255);
    left: 80%;
    padding-right: 10px;
}

#proj-btn {
    display: inline flex;
    border-radius: 999px;
    font-family: 'Arimo', sans-serif;
    font-weight: 200;
}

#proj-btn:hover {
    cursor: pointer;
}

#title-test {
    margin-top: 50px !important;
}
.mob {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    display: block;
    background-color: transparent;

    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 10px;
    padding: 0;
  }
  
  .mob-top,
  .mob-mid,
  .mob-bot {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: rotate(0);
    transition: all 0.5s;
  }
  .mob:focus{
    outline: none;
  }
  .mob-mid {
    transform: translateY(7px);
  }
  .mob-bot {
    transform: translateY(14px);
  }
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  .open .mob-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .mob-mid {
    display: none;
  }
  .open .mob-bot {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
  
  .menu-active {
    transform: scale(0.9);
    transition: all 1s;
  }
  
  .menu-inactive {
    transform: scale(0);
    transition: all 1s;
  }

  #menu{
    position: absolute !important;
    display: flex;
    flex-direction: column;
    align-self: self-end;
    padding-top: 8px;
    justify-content: center;
    padding-left: 6px;
  }

  .hid{
    color: white;
    font-size: 20px;
  }