body{
    height: 100vh;
    margin: 0rem;
    overflow-x: hidden;
    background-color: rgb(26, 26, 26) !important;
}
@keyframes rotate {
    from{
        rotate:0deg;
    }

    50%{
        scale: 1 1.2;
    }

    to{
        rotate:360deg;
    }
}
#cursor-follow{
    height: 400px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        to right,
        aquamarine,
        mediumpurple
    );
    animation: rotate ease 20s infinite;
    z-index: -2;
    opacity: 100%;
}
#blur{
    height: 2000px;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(10vw);
}
.display-1{
    font-family: 'Tilt Warp', cursive;
    font-size: 120px;
    color: white !important;
}
#home-img{
    position: absolute;
    top: 0 ;
    left: 0;
    height: 400px;
    width: 600px;
}
.top-wave-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.top-wave-hero svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.top-wave-hero .shape-fill {
    fill: #00346D;
}

#about{
    margin-top: 199px; 
    padding-top: 100px;
    background-color: #00346D;
    color: white;
    height: 800px;
}
h1{
    font-family: 'Golos Text', sans-serif;
}
.bottom-wave-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bottom-wave-about svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 188px;
}

.bottom-wave-about .shape-fill {
    fill: #97a5b5;
}